Django==5.2.7
django-extensions==4.1
django-filter==25.2
django-mongodb-backend==5.2.1
djangorestframework==3.16.1
ollama
groq
celery
tblib
pillow
ipython
python-dotenv
requests
sqlalchemy
langchain
langchain-groq
django-cors-headers
kokoro
soundfile
langchain-text-splitters
tiktoken
torch
numpy<2.0
